*{
	box-sizing: border-box;
	font-family: "balsamic sans";

}
header{
	text-align: center;
	background: #000;
	color: #fff;
	padding: 10px 0;
}
.container{
	max-width: 700px;
	margin: auto;
	padding: 20px;
}
p{
	border: 2px solid; #5624d0
	border-radius:  7px;
	padding: 2px;
	margin: 1px 0;
}
li{
	display: block;
	padding: 5px;
	border-radius: 7px;
	cursor: pointer;
	border: 1px dished #ccc;
	margin-bottom: 3px;
}
label.hover{
	background: #cec0fc;
}
button{
	width: 80%;
	display: block;
	margin: auto;
	padding: 10px;

	background-color: #76d7c8;
	border: none;
	cursor: pointer;
	border-radius: 20px;
}
button:hover{
	background: #000;
	color: #fff;
}
h2{
	text-align: center;
}

#resultado{
	font-size: 30px;
	color:darkred;
}